@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Finger+Paint&family=Gabriela&family=Hind+Siliguri:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Zetta&family=Magra:wght@400;700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.nav-bar {
    background-color: #222A33;
}
.donate-btn {
    background: linear-gradient(135deg, #37b8f3, #75cbf3); 
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: all 0.4s ease;
    box-shadow: 0 4px 10px rgba(79, 195, 247, 0.4);
  }
  
  .donate-btn:hover {
    background: linear-gradient(135deg, #27b6f8, #59d0e0); 
    transform: scale(1.08);
    box-shadow: 0 6px 18px rgba(41, 182, 246, 0.5);
    color: #fff;}
  .nav-manu a{
color: #ffffff;
transition: color 0.3s;
  }

  .nav-manu a:hover{
    border-bottom: 4px solid coral;
    padding-bottom: 5px; 
    font-weight: 600;
    color: #ff7a2d;
    border-radius: none;
  }
  

.nav-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid rgb(0, 0, 54);
}
.donate-section{
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}


.background-of-donation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('https://t4.ftcdn.net/jpg/07/77/03/35/360_F_777033511_YIX6kd0jKI9dw0PzvzlxrVYZ1rhEqGVi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(30%);
  z-index: 1;
}

.content-of-donation {
  position: relative;
  z-index: 2;
  color: white;
}
.content-of-donation h1{
padding-top: 100px;
}
.content-of-donation input{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.content-of-donation button{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: coral;
}
.content-of-donation button:hover{
  background-color: rgb(255, 180, 119);
  color: rgb(255, 68, 0);
}


/* main-container  */
.main-container{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 20px;
  color: #a3a3a3;
  background-color: #d2e6fd;
  margin: 40px;
  margin-left: 200px;
  margin-right: 200px;
}
/* containeer-01*/
.main-container-01{
  background-color: #012531;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: -100px;

}
.container-header p{
  font-size: 30px;
  color: white;
  font-weight: 400;
  font-style: italic;
}
.container-header a{
  font-size: 30px;
  color: orange;
  font-weight: 400;text-decoration: none;
}

/* section-1 */
.main-container-01-section-01 h2{
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-align: center;
}
.main-container-01-section-01 h3{
  font-size: 20px;
  color: rgb(145, 143, 141);
  font-weight: 300;
  text-align: center;
  padding-bottom: 35px;
}
.main-container-01-section-01 a{
  font-size: 20px;
  color: orange;
  font-weight: 400;text-decoration: none;
}
.main-container-01-section-01 h4{
  font-size: 20px;
  color: rgb(148, 148, 148);
  font-weight: 400;
  padding-left: 30px;
}
.main-container-01-section-01 button{
  margin: 10px;
  font-size: 17px;
  font-weight: 600;
  padding-top: 12px;padding-bottom: 12px;
  padding-right: 80px;padding-left: 80px;
  color:white ;
  background-color:orange ;
}
.main-container-01-section-01 button:hover{
  transition: .5s;
  background: rgb(255, 136, 0);
}
.main-container-01-section-01{
  border-bottom: 1.5px solid gray;

}
/* 2 */
.main-container-01-section-02 ul li{
 list-style-type: none ;
 color: #FEA526;
 font-size: 20px;
}
.main-container-01-section-02 ul li input{
  margin: 8px;
  margin-right: 13px;
 }
.main-container-01-section-02 ul li input[type="checkbox"]{
    accent-color: coral; 
    margin-left: -20px;
}

.main-container-01-section-02 ul li:hover{
  color: #a3a3a3;
}
.main-container-01-section-03{
  
}
.container-document{
  display: flex;
  align-items: center;
gap: 10px;
}

.container-document button{
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
}
.container-document p{
color: rgb(167, 166, 166);
}
.main-container-01-section-02{
  border-bottom: 2px solid gray;
  padding-top: 40px;padding-bottom: 40px;
}
.main-container-01-section-01{
  padding-top: 20px;padding-bottom: 20px;
}
.container-02-document button{
  margin: 10px;
  font-size: 15px;
  padding-top: 10px;padding-bottom: 10px;
  padding-right: 25px;padding-left: 25px;
  color:white ;
  background-color:rgb(15, 15, 15) ;
  border: 2px solid;
  color: gray;
}
.container-02-document button:hover{
  transition: .5s;
  color: rgb(255, 136, 0);
}
/* main-con-2 */
.main-container-02{
  margin: 40px;
  background-color: #d2e6fd;
}
.main-container-02-header{
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}
.main-container-02{
  
}
/* product-sectioon */
.product-section{
display: grid;
grid-template-columns: 1fr 1fr  ;
gap: 40px;
}


/* p-02 */
.product-section-02{
  border: 1.5px solid gray;
  padding: 10px;
  background-color: #fff;
}
.product-section-02-1 {
  background-image: url("https://media.istockphoto.com/id/1190330112/photo/fried-pork-and-vegetables-on-white-background.jpg?s=612x612&w=0&k=20&c=TzvLLGGvPAmxhKJ6fz91UGek-zLNNCh4iq7MVWLnFwo=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 200px;
  margin: 20px;
  margin-top: 40px;
}
.product-section-02-1:hover button{
  opacity: 1;
}
.product-section-02-1 button{
  text-align: center;
  padding-top: 80px;
  opacity: 0;
  margin: 10px;
  font-size: 15px;
  padding-top: 10px;padding-bottom: 10px;
  padding-right: 30px;padding-left: 30px;
  color:white ;
  background-color:rgb(255, 115, 0) ;
  border: 2px solid gray;
  margin-top: 80px;
  margin-left:60px;
}

.product-section-02-2 h3{
  padding-top: 50px;
  color: #002735;
}
.product-section-02-2 p{
  color: #7e7e7e;}

.product-section-02-2 p:hover{
 color: rgba(255, 140, 0, 0.989);
}
/* p-01 */
.product-section-01{
  border: 1.5px solid gray;
  padding: 10px;
  background-color: #fff;
}
.product-section-01-1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5_FY9dXYetOk64ULRe5rrwVlnNt1OkC_1Aw&s");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 200px;
  margin: 20px;
  margin-top: 40px;
}
.product-section-01-1:hover button{
  opacity: 1;
}
.product-section-01-1 button{
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  margin: 10px;
  font-size: 15px;
  padding-top: 10px;padding-bottom: 10px;
  padding-right: 30px;padding-left: 30px;
  color:white ;
  background-color:rgb(255, 115, 0) ;
  border: 2px solid gray;
  margin-top: 80px;
  margin-left: 60px;
}

/* p-03 */
.product-section-03{
  border: 1.5px solid gray;
  padding: 10px;
  background-color: #fff;
}
.product-section-03-1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeIOOYMqMoPxXUESZZUITpDvzu46YHjCtIdaPwJGDGZLtPCZ9QxZlrbrBk9vQsUMXipBs&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 200px;
  margin: 20px;
  margin-top: 80px;
}
.product-section-03-1:hover button{
  opacity: 1;
}
.product-section-03-1 button{
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  margin: 10px;
  font-size: 15px;
  padding-top: 10px;padding-bottom: 10px;
  padding-right: 30px;padding-left: 30px;
  color:white ;
  background-color:rgb(255, 115, 0) ;
  border: 2px solid gray;
  margin-top: 80px;
  margin-left: 60px;
}
/* p-04 */
.product-section-04{
  border: 1.5px solid gray;
  padding: 10px;
  background-color: #fff;
}
.product-section-04-1 {
  background-image: url("https://www.shutterstock.com/image-photo/tablet-pills-syrup-medicine-on-260nw-2333520705.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 200px;
  margin: 20px;
  margin-top: 80px;
  margin-left: 10px;
}
.product-section-04-1:hover button{
  opacity: 1;
}
.product-section-04-1 button{
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  margin: 10px;
  font-size: 15px;
  padding-top: 10px;padding-bottom: 10px;
  padding-right: 30px;padding-left: 30px;
  color:white ;
  background-color:rgb(255, 115, 0) ;
  border: 2px solid gray;
  margin-top: 80px;
  margin-left: 60px;
}
/* p-05 */
.product-section-05{
  border: 1.5px solid gray;
  padding: 10px;
  background-color: #fff;
}
.product-section-05-1 {
  background-image: url("https://img.freepik.com/premium-photo/mobile-tiny-house-white-background_431161-30062.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 200px;
  margin: 20px;
  margin-top: 60px;
}
.product-section-05-1:hover button{
  opacity: 1;
}
.product-section-05-1 button{
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  margin: 10px;
  font-size: 15px;
  padding-top: 10px;padding-bottom: 10px;
  padding-right: 30px;padding-left: 30px;
  color:white ;
  background-color:rgb(255, 115, 0) ;
  border: 2px solid gray;
  margin-top: 80px;
  margin-left: 60px;
}
/* p-06 */
.product-section-06{
  border: 1.5px solid gray;
  padding: 10px;
  background-color: #fff;
}
.product-section-06-1 {
  background-image: url("https://thumbs.dreamstime.com/b/stack-bangladesh-taka-notes-isolated-white-background-d-233637390.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 200px;
  margin: 20px;
  margin-top: 60px;
  margin-left: 10px;
}
.product-section-06-1:hover button{
  opacity: 1;
}
.product-section-06-1 button{
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  margin: 10px;
  font-size: 15px;
  padding-top: 10px;padding-bottom: 10px;
  padding-right: 30px;padding-left: 30px;
  color:white ;
  background-color:rgb(255, 115, 0) ;
  border: 2px solid gray;
  margin-top: 80px;
  margin-left: 60px;
}

/* footer */
.footer {
  background-color: #012531;
  color: #bce9fe;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
















