@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Finger+Paint&family=Gabriela&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Zetta&family=Magra:wght@400;700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* basic-setup */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.all-body{
  background-color: #121215;
}

.dropdown-item{
    display: flex;
}
/* header-container */
.header-container{
background-color: #2c2b2b;
padding: 40px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 230px;
border-bottom: 3px solid #121215;
margin: 0px;
}
.header-logo{
    display: flex;
    gap: 15px;
}
.header-logo-img img{ 
    font-size: 22px;
height: 65px;
width: 65px;
}
.header-logo-document h2{
  color: #FEA526;
  font-size: 40px;
}
.header-logo-document p{
    font-size: 15px;
    color: #666668;
    font-weight: 400;
    font-family: "Lexend Zetta", sans-serif;
}
.header-manu-item ul{
list-style-type: none;
align-items: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
}

/* 1 */
.header-manu-01{
    display: flex;
    gap: 15px;
}
.header-manu-img img{
    height: 45px;
    width: 45px;
    color: white;
    filter: brightness(200%);
}
.header-manu-document h2{
  color: #707070;
  font-size: 20px;
}
.header-manu-document p{
    font-size: 15px;
    color: #e0e0e0;
    font-weight: 400;
}
.header-manu-document-1 h2{
    color: #1a1a1a;
    font-size: 20px;
  }
  .header-manu-document-1 h2 a{
    text-decoration: none;
    color: #707070;
    font-size: 20px;
  }
  .header-manu-document-1 p{
      font-size: 15px;
      color: #d8d8d8;
      font-weight: 400;
  }
  /* nav-bar */
.container-fluid{
    background-color: #2c2b2b;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    border-top: 3px solid #121215;
    margin-top: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .container-fluid {
color: #FEA526;
font-size: 20px;
  }
/* hero-container */
.hero-container{
    display: grid;
    grid-template-columns: .4fr .8fr 2.5fr .4fr;
    gap: 25px;
    margin: 0px;
    padding: 60px;
    background-color: #121215;
    padding: 40px;
}

.hero-container-02 ul li{
border-bottom: 1.5px solid #282A2E;
background-color: #1D1E23;
padding-top: 20px;padding-bottom: 20px;
list-style-type: none;
  color: #969494;
  padding-left: 20px;
  font-size: 20px;
}

.hero-container-02 ul li:hover{
color: orange;
}

.hero-container-03{
  background-image: url("https://kingler-html.themerex.net/images/1-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 850px;
  height: 450px;
  padding: 40px;
  margin: 25px;
  margin-top:0px;
}
.hero-container-03 h1{
  font-size: 55px;
  color: #d8d8d8;
  font-weight: 900;
  padding-top: 35px;
  padding-left: 40px;
}
.hero-container-03 h3 {
  font-size:28px;
  color: #d8d8d8;
  font-weight: 400;
  padding-left: 60px;
}
.hero-container-03 h2 {
  font-size: 40px;
  color: #FEA526;
  font-weight: 750;
  padding-left: 80px;
  margin-top: 20px;
}
.hero-container-03 button{
  margin-top: 25px;
  margin-left: 94px;
  font-size: 12px;
  padding-top: 15px;padding-bottom: 15px;
  padding-right: 25px;padding-left: 25px;
  color:orange ;
  border: 2px solid orange;
  background-color: black;
}
.hero-container-03 button:hover{
  transition: .5s;
  color: #ffffff;
  background-color: orange;
}
/* mid-container */
.middle-container{
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
}
.middle-container-02 p{
font-size: 30px;
color: rgb(255, 255, 255);
font-style: italic;
}
.middle-container-02 a{
  text-decoration: none;
  font-size: 30px;
  color: orange;
}
/* main-container */
.main-container{
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
  margin-top: 20px;
}
.main-container-02{
  display: grid;
  grid-template-columns: .8fr 2fr;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-container-02-section-01 img{
height: 85px;
width: 85px;
}
.main-container-02-section-02 h3{
  font-size: 18px;
  color:gray;
  font-weight: 400px;
  
}
.main-container-02-section-02 :hover{
  color: orange;
}
.main-container-02-section-02 h2{
  
font-size: 20px;
color: orange;font-weight:700px;
}
/* footer */
.footer-container {
  margin-top: 40px;
  padding: 40px;
  text-align: center;background-color: #2C2B2B;
  color: #dadada;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lexend Zetta", sans-serif;
}
.footer-container a{
  text-decoration: none;
color: orange;
}
/* responsive */
@media (max-width:768px){
  .dropdown-item{
    display: flex;
}
/* header-container */
.header-container{
background-color: #2c2b2b;
padding: 10px;
display: grid;
justify-content: space-between;
align-items: center;
gap: 10px;
border-bottom: 3px solid #121215;
margin: 0px;
padding-top: 15px;
}
.header-logo{
    display: flex;
    gap: 3px;
    padding-left: 100px;
    margin-bottom: -20px;
}
.header-logo-img img{ 
    font-size: 25px;
height: 45px;
width: 45px;
}
.header-logo-document h2{
  color: #FEA526;
  font-size: 25px;
}
.header-logo-document p{
    font-size: 10px;
    color: #cfcfcf;
    font-weight: 100;
    font-family: "Lexend Zetta", sans-serif;
}
.header-manu-item ul{
list-style-type: none;
align-items: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-between;
gap: 10px;
margin: 5px;
margin-left: -25px;
}

/* 1 */
.header-manu-01{
    display: flex;
    gap:5px;
}
.header-manu-img img{
    height: 20px;
    width: 20px;
    color: white;
    filter: brightness(200%);
}
.header-manu-document h2{
  color: #707070;
  font-size: 12px;
  padding-top: 4px;
}
.header-manu-document p{
    font-size: 10px;
    color: #e0e0e0;
    font-weight: 400;
}
.header-manu-document-1 h2{
    color: #1a1a1a;
    font-size: 12px;
  }
  .header-manu-document-1 h2 a{
    text-decoration: none;
    color: #707070;
    font-size: 10px;
  }
  .header-manu-document-1 p{
      font-size: 10px;
      color: #d8d8d8;
      font-weight: 400;
  }
  /* nav-bar */
.container-fluid{
    background-color: #2C2B2B;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    border-top: 3px solid #121215;
    margin-top: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
/* hero-container */
.hero-container{
    display: grid;
    grid-template-columns: 0.000001fr 1fr 2fr 0.000001fr;
    gap: 10px;
    margin: 0px;
    background-color: #121215;
    padding: 5px;
    margin-left: -30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#dropdownMenuButtonDark button{
  font-size: 12px;
}
.hero-container-02 ul li{
border-bottom: 1.5px solid #282A2E;
background-color: #1D1E23;
padding-top: 10px;padding-bottom: 10px;
list-style-type: none;
  color: #969494;
  padding-left: 10px;
  font-size: 12px;
}
.hero-container-02 ul li:hover{
color: orange;
}
.hero-container-03{
  background-image: url("https://kingler-html.themerex.net/images/1-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  padding: 20px;
  margin: 5px;
  margin-top:0px;
}
.hero-container-03 h1{
  font-size: 55px;
  color: #d8d8d8;
  font-weight: 900;
  padding-top: 35px;
  padding-left: 40px;
}
.hero-container-03 h3 {
  font-size:28px;
  color: #d8d8d8;
  font-weight: 400;
  padding-left: 60px;
}
.hero-container-03 h2 {
  font-size: 40px;
  color: #FEA526;
  font-weight: 750;
  padding-left: 80px;
  margin-top: 20px;
}
.hero-container-03 button{
  margin-top: 25px;
  margin-left: 94px;
  font-size: 12px;
  padding-top: 15px;padding-bottom: 15px;
  padding-right: 25px;padding-left: 25px;
  color:orange ;
  border: 2px solid orange;
  background-color: black;
}
.hero-container-03 button:hover{
  transition: .5s;
  color: #ffffff;
  background-color: orange;
}
/* mid-container */
.middle-container{
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
}
.middle-container-02 p{
font-size: 30px;
color: rgb(255, 255, 255);
font-style: italic;
}
.middle-container-02 a{
  text-decoration: none;
  font-size: 30px;
  color: orange;
}
/* main-container */
.main-container{
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
  margin-top: 20px;
}
.main-container-02{
  display: grid;
  grid-template-columns: .8fr 2fr;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-container-02-section-01 img{
height: 85px;
width: 85px;
}
.main-container-02-section-02 h3{
  font-size: 18px;
  color:gray;
  font-weight: 400px;
  
}
.main-container-02-section-02 :hover{
  color: orange;
}
.main-container-02-section-02 h2{
  
font-size: 20px;
color: orange;font-weight:700px;
}
/* footer */
.footer-container {
  margin-top: 40px;
  padding: 40px;
  text-align: center;background-color: #2C2B2B;
  color: #dadada;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lexend Zetta", sans-serif;
}
.footer-container a{
  text-decoration: none;
color: orange;  
}
              }